JIRA_BASE_URL=
JIRA_PAT=
JIRA_ASSIGNEE=diegodel
RELEASE_LABEL_START_MONTH=2026-06
RELEASE_LABEL_WINDOW_SIZE=2
JIRA_JQL=
NODE_TLS_REJECT_UNAUTHORIZED=0
NOTION_API_TOKEN=
NOTION_TECHDEBT_DATA_SOURCE_ID=
NOTION_TECHDEBT_BOARD_DATA_SOURCE_ID=
