JIRA_BASE_URL=https://jira.dev.upenn.edu
JIRA_PAT=
JIRA_JQL='assignee = diegodel AND "Epic Link" in (SYSM-1, TECHDEBT-4)'
NODE_TLS_REJECT_UNAUTHORIZED=0
NOTION_API_TOKEN=
NOTION_TECHDEBT_DATA_SOURCE_ID=
